
/*Bootstrap overrides*/
.top-buff {
    margin-top: 20px;
}
.jumbo-btn {
    width: 400px;
    height: 280px;
    font-size: 24px;
}

#omni {
    font-size: 32px;
}

.active-opt {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.inactive-opt {
    font-size: 20px;
    font-weight: 300;
    color: #808080;
}

.detailsImage {
    width: 100px;
    margin: 10px 10px 10px 10px;
    float: left;
}

.titular {
    border: 2px solid green;
}

.opt {
    border: 2px solid #CAFFB9;
    background-color: #C0D461;
}

.background {
    background-color: #0A2E36;
}

#logo{
    width: 20%;
}

.navbar{
    margin-bottom: 10px;
    height: 57px;
}

#title{
    font-size: 25px;
    color: #66a182;
    display:inline;
}

#subtitle{
    color: #66a182;
    margin: 10px;
}

.options {
    border: 1px solid black;
    padding: 1px;
}

#text{
    color:#66a182;
}
#time{
    color:#66a182;
}