.background { 
    background-color: #0A2E36;
    position: relative;
    width: 900px; 
    top: -10px; 
    height: 800px;
}

.entry {
    background-color: #66a182;
}

.container{
	border: 1px solid;
    width: 300px;
    margin: 10px;
}