body {
  padding-bottom: 40px;
  background-color: #0A2E36;
}

.container {
	border: 3px solid #CAFFB9;
	margin: -10px;
	position: relative; 
    width: 450px;
    height: 200px;
    background-color: #C0D461;
    color: #2E4057;
    font-size: 14px;
    line-height: 1.8;
}