.container {
    border: 1px solid #CAFFB9;
    margin: 5px;
    width: 300px;
    height: 140px;
    background-color: #C0D461;
    color: #2E4057;
    font-size: 14px;
    line-height: 0.9;
    text-align: center;
}

#errname{
    color: red;
    font-size: 150%; 
    float:left;
    margin:5px;
}

#erraddress{
    color: red;
    font-size: 150%;
    margin:5px;
}

.background { 
    background-color: #0A2E36;
    width: 800px; 
    top: -10px; 
    height: 800px;
}

#text{
    margin: 7px;
}

#updateName{
    text-align: center; 
    font-size:150%;
    float:left;
    margin:5px;
}

#updateAdd{
    text-align: center; 
    font-size:150%;
    float:left;
    margin:5px;
}

#btn{
    position:static;
    margin-bottom: 20px;
}
#address{
    margin-top: 30px;

}

