<html>
<head>
    <title>WeHaul Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/animations.css">
</head>
<body onpageshow="trackGoogleAnalytics">
  <div class="container" style="text-align: center;">
      <h3>Finding Driver</h3>
      <div class="spinner"></div>
      <h3>Please Wait</h3>
      <p><span id="time">30</span> second(s) before giving up...</p>
      <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
             <a class="btn btn-lg btn-default btn-block" id="cancel" onClick="trackCancel">Cancel Request</a>
          </div>
          <div class="col-xs-4"></div>
      </div>
  </div>

  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/B/waitB.js"></script>
  <script>
      if(localStorage.getItem("currentUser") == null) {
          window.location.href = "/B"
      }
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        function trackCancel(){
          var cancel = true;
          ga('send', 'event', 'onclick', cancel);
        }
        function trackGoogleAnalytics(){
          var date = formatAMPM();
          ga('send', 'event', 'onLoad', 'endTime', date);
        }

    ga('create', 'UA-92514792-3', 'auto');
    ga('send', 'pageview');
    ga('send', 'event', 'onclick', 'cancel', 'Cancel Request');

  </script>
</body>
</html>